ms_embedding_documents/service/__pycache__
C:\Users\leona\brasas-movement-chat-ia\ms_embedding_documents\.env
C:/Users/leona/brasas-movement-chat-ia/ms_embedding_documents/.env
ms_embedding_documents/.env
*/